# Sensitive credentials
*.csv
*API Key*.txt
petbehaviortranslator_accessKeys.csv
PetBehaviorTranlator OpenAI API Key.txt
*.pem
*.key

# Markdown files
*.md

# Build artifacts
**/dist/
**/build/
**/node_modules/
**/bin/
**/obj/
**/publish/
*.zip

# IDE
.vs/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.

# Secret files